@import '../../../styles/variables';

.header {
  &__nav{
    display: flex;
    justify-content: flex-end;
    padding: 16px 0;
  }

  &__nav-link {
    display: inline-block;
    margin-left: 12px;

    @media only screen and (min-width: 375px){
      margin-left: $gutter-base;
    }
  }
}