$color-white: #FFF;
$color-blue: rgba(137, 189, 246, 0.57);
$color-light-blue: #EDF7FA;
$color-main-text: #21243D;
$color-red: #FF6464;
$color-dark-brown: #142850;
$color-light-gray: #E0E0E0;
$color-text-gray: #8695A4;

$font-size-xxs: 14px;
$font-size-xs: 16px;
$font-size-sm: 18px;
$font-size-md: 20px;
$font-size-ml: 22px;
$font-size-xl: 26px;
$font-size-lg: 32px;
$font-size-xlg: 44px;

$line-height-xxs: 22px;
$line-height-xs: 24px;
$line-height-md: 30px;
$line-height-ml: 38px;
$line-height-lg: 40px;
$line-height-xlg: 60px;

$gutter-sm: 10px;
$gutter-base: 16px;
$gutter-md: 20px;
$gutter-ml: 25px;
$gutter-lg: 32px;

$font-weight-reg: 400;
$font-weight-md: 500;
$font-weight-bold: 700;